<h3>Add course lessions</h3>
<div class="add-lessions-form" [formGroup]="form">

    <ng-container formArrayName="lessons">

        <ng-container *ngFor="let lessonForm of lessons.controls; let i=index">
            <div class="lesson-form-row" [formGroup]="lessonForm">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Lesson title" formControlName="title" formControlName="title">
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select level" formControlName="level">
                        <mat-option value="beginner">Beginner</mat-option>
                        <mat-option value="intermediate">Intermediate</mat-option>
                        <mat-option value="advance">Advance</mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-icon class="delete-btn" (click)="deleteLesson(i)">delete-forever</mat-icon>
            </div>
        </ng-container>

    </ng-container>

    <button mat-mini-fab (click)="addLesson()">
        <mat-icon class="add_course-btn">add</mat-icon>
    </button>

</div>